body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url('https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/0x0.jpg?format=jpg&crop=4560,2565,x790,y784,safe&height=900&width=1600&fit=bounds') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.557);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(212, 171, 171);
    width: 320px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

h2 {
    font-size: 24px; 
    color: #ffffff; 
    font-family: 'Times New Roman', sans-serif; 
    margin-bottom: 20px; 
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    border: 1px solid #ba2626;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #dab4b4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #9b0e0e;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}
